In [19]:
import pandas as pd
import numpy as np
# Ref1: https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label
# Ref2: https://pandas.pydata.org/pandas-docs/stable/advanced.html
# Ref3: http://wiki.jikexueyuan.com/project/start-learning-python/311.html
col_ind = [[1, 1, 2, 2, 3, 3, 4, 4],
           [1, 2, 1, 2, 1, 2, 1, 2]]
tuples = list(zip(*col_ind))
index = pd.MultiIndex.from_tuples(tuples, names=['k', 'm'])
columns = [0, 1, 2, 3, 4, 5]
forward_diff_coeff = np.array([
    [-1, 1, 0, 0, 0, 0],
    [-3/2, 2, -1/2, 0, 0, 0],
    [1, -2, 1, 0, 0, 0],
    [2, -5, 4, -1, 0, 0],
    [-1, 3, -3, 1, 0, 0],
    [-5/2, 9, -12, 7, -3/2, 0],
    [1, -4, 6, -4, 1, 0],
    [3, -14, 26, -24, 11, -2],
])
coeff_df = pd.DataFrame(forward_diff_coeff, columns=column, index=index)
coeff_df.columns.name = 'p'
coeff_df

p      0     1     2     3     4    5
k m
1 1 -1.0   1.0   0.0   0.0   0.0  0.0
  2 -1.5   2.0  -0.5   0.0   0.0  0.0
2 1  1.0  -2.0   1.0   0.0   0.0  0.0
  2  2.0  -5.0   4.0  -1.0   0.0  0.0
3 1 -1.0   3.0  -3.0   1.0   0.0  0.0
  2 -2.5   9.0 -12.0   7.0  -1.5  0.0
4 1  1.0  -4.0   6.0  -4.0   1.0  0.0
  2  3.0 -14.0  26.0 -24.0  11.0 -2.0

In [20]:
# Selecing by [(k,m),p] arugment
coeff_df.loc[(4,2),0] 

# by [row, column]
coeff_df.iloc[6:8,1]

k  m
4  1    -4.0
   2   -14.0
Name: 1, dtype: float64

In [21]:
forward_diff_coeff = np.array([
    [-1, 1, 0, 0, 0, 0],
    [-3/2, 2, -1/2, 0, 0, 0],
    [-1, 2, 1, 0, 0, 0],
    [2, -5, 4, -1, 0, 0],
    [-1, 3, -3, 1, 0, 0],
    [-5/2, 9, -12, 7, -3/2, 0],
    [1, -4, 6, -4, 1, 0],
    [3, -14, 26, -24, 11, -2],
])

backward_diff_coeff = np.array([
    [0, 0, 0, 0, -1, 1],
    [0, 0, 0, 1/2, -2, 3/2],
    [0, 0, 0, 1, -2, 1],
    [0, 0, -1, 4, -5, 2],
    [0, 0, -1, 3, -3, 1],
    [0, 3/2, -7, 12, -9, 5/2],
    [0, 1, -4, 6, -4, 1,],
    [-2, 11, -24, 26, -14, 3],
])

central_diff_coeff = np.array([
    [0, 0, -1/2, 0, 1/2, 0, 0],
    [0, 1/12, -2/3, 0, 2/3, -1/12, 0],
    [0, 0, 1, -2, 1, 0, 0],
    [0, -1/12, 4/3, -5/2, 4/3, -1/12, 0],
    [0, -1/2, 1, 0, 1, -1/2, 0],
    [-1/8, 1, 13/8, 0, 13/8, 1, -1/8],
    [0, 1, -4, 6, -4, 1, 0],
    [-1/6, 2, -13/2, 28/3, -13/2, 2, -1/6],
])

In [23]:
col_ind = [[1, 1, 2, 2, 3, 3, 4, 4],
           [1, 2, 1, 2, 1, 2, 1, 2]]
tuples = list(zip(*col_ind))
index = pd.MultiIndex.from_tuples(tuples, names=['k', 'm'])
columns = [-5, -4, -3, -2, -1, 0]
backward_diff_coeff = np.array([
    [0, 0, 0, 0, -1, 1],
    [0, 0, 0, 1/2, -2, 3/2],
    [0, 0, 0, 1, -2, 1],
    [0, 0, -1, 4, -5, 2],
    [0, 0, -1, 3, -3, 1],
    [0, 3/2, -7, 12, -9, 5/2],
    [0, 1, -4, 6, -4, 1,],
    [-2, 11, -24, 26, -14, 3],
])
coeff_df = pd.DataFrame(backward_diff_coeff, columns=columns, index=index)
coeff_df.columns.name = 'p'
coeff_df

p     -5    -4    -3    -2    -1    0
k m
1 1  0.0   0.0   0.0   0.0  -1.0  1.0
  2  0.0   0.0   0.0   0.5  -2.0  1.5
2 1  0.0   0.0   0.0   1.0  -2.0  1.0
  2  0.0   0.0  -1.0   4.0  -5.0  2.0
3 1  0.0   0.0  -1.0   3.0  -3.0  1.0
  2  0.0   1.5  -7.0  12.0  -9.0  2.5
4 1  0.0   1.0  -4.0   6.0  -4.0  1.0
  2 -2.0  11.0 -24.0  26.0 -14.0  3.0

In [24]:
col_ind = [[1, 1, 2, 2, 3, 3, 4, 4],
           [2, 4, 2, 4, 2, 4, 2, 4]]
tuples = list(zip(*col_ind))
index = pd.MultiIndex.from_tuples(tuples, names=['k', 'm'])
columns = [-3, -2, -1, 0, 1, 2, 3]
central_diff_coeff = np.array([
    [0, 0, -1/2, 0, 1/2, 0, 0],
    [0, 1/12, -2/3, 0, 2/3, -1/12, 0],
    [0, 0, 1, -2, 1, 0, 0],
    [0, -1/12, 4/3, -5/2, 4/3, -1/12, 0],
    [0, -1/2, 1, 0, 1, -1/2, 0],
    [-1/8, 1, 13/8, 0, 13/8, 1, -1/8],
    [0, 1, -4, 6, -4, 1, 0],
    [-1/6, 2, -13/2, 28/3, -13/2, 2, -1/6],
])
coeff_df = pd.DataFrame(central_diff_coeff, columns=columns, index=index)
coeff_df.columns.name = 'p'
coeff_df

p          -3        -2        -1         0         1         2         3
k m
1 2  0.000000  0.000000 -0.500000  0.000000  0.500000  0.000000  0.000000
  4  0.000000  0.083333 -0.666667  0.000000  0.666667 -0.083333  0.000000
2 2  0.000000  0.000000  1.000000 -2.000000  1.000000  0.000000  0.000000
  4  0.000000 -0.083333  1.333333 -2.500000  1.333333 -0.083333  0.000000
3 2  0.000000 -0.500000  1.000000  0.000000  1.000000 -0.500000  0.000000
  4 -0.125000  1.000000  1.625000  0.000000  1.625000  1.000000 -0.125000
4 2  0.000000  1.000000 -4.000000  6.000000 -4.000000  1.000000  0.000000
  4 -0.166667  2.000000 -6.500000  9.333333 -6.500000  2.000000 -0.166667